* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #f7f8ff, #f1eeff);
  min-height: 100dvh;
  font-family: sans-serif;
}
